//변수처리

//site width
$siteWidth: 1320px;

//text size
$fontSizeSmall: 12px;
$fontSizeNormal: 16px;
$fontSizeMid: 18px;
$fontSizeBig: 21px;

//title text size
$titleFontSizeSmall: 21px;
$titleFontSizeNormal: 24px;
$titleFontSizeMid: 26px;
$titleFontSizeBig: 32px;

//color

//background color
$layoutBg: #ffffff;

//font color
$fontColorBasic: #00263e;
$fontColorPrimary: #00263e;
$fontColorHover: #ef276e;

//border color
$borderColorPrimary: #00263e;
$borderColorDark: #000000;

//button color
$gbtnColor: #00263e;
$gbtnColorHover: #ef276e;

//table color
$tableColorPrimary: #b8944d;
